$color-primary: #1680df;
$color-secondary: rgb(213, 73, 160);
$color-white: #ffffff;
$color-grayIsh: #ececec;
$color-lightgray: #929292;
$color-gray: #707070;
$color-complete: #12f848;
$color-incomplete: #f81249;

$box-shadow: 0 9px 8px rgba(0, 0, 0, 0.16);

$font-lg: 1.0625rem;
$font-sm: 0.75rem;
$font-med: 1rem;
$font-xs: 0.625rem;

$padding-Large-Sides: 12.5rem;
